/******************* RESPONSIVE DESIGN ************************/

@media (max-width: 1230px) {
    html {
        font-size: 12px;
    }

    .content {
        padding: 0 60px;
    }

}

@media (max-width: 1100px) {
    html {
        font-size: 11px;
    }

    .content {
        padding: 0 40px;
    }

}

@media screen and (max-width: 1000px) {
    html {
        font-size: 11px;
    }

    .fixed-container {
        max-width: 92%;
    }

    .showcase-text {
        width: 55%;
    }

    .card {
        width: 40%;
    }

    .hidden {
        display: none;
    }

    .fee-icons {
        margin: 0;
        font-size: 2.4rem;
    }

    #tab1, #tab2, #tab3 {
        width: 43%;
        text-align: center;
        padding: 20% 11% 20% 6%;
    }

    #tab1_content, #tab2_content, #tab3_content {
        width: 66%;
    }

}

@media (max-width: 770px) {
    html {
        font-size: 11px;
    }

    .page-header {
        position: relative;
        padding: 0 0 75rem 0;
    }

    .tab_div {
        position: absolute;
        left: -7%;
        top: 14%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .tabs_menu {
        width: 28%;
        position: static;
        margin-bottom: 22%;
        margin-left: 12%;
    }

    #tab1,
    #tab2,
    #tab3 {
        padding: 8% 9% 8% 9%;
        width: 100%;
    }

    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tab1_content, #tab2_content, #tab3_content {
        position: absolute;
        top: 40%;
        left: 15%;
        width: 80%;
    }
}

@media (max-width: 520px) {
    .page-header {
        padding: 0 0 90rem 0;
    }

    #tab1_content, #tab2_content, #tab3_content {
        left: 11%;
        width: 82%;
    }

}

@media (max-width: 900px) {
    html {
        font-size: 11px;
    }

    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    html {
        font-size: 10px;
    }

    .icon {
        display: block;
    }

    body.disabled {
        overflow: hidden;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: var(--footer-color);
    }

    .navbar.show .menu-list {
        left: 0;
    }

    .menu-list-li {
        margin-top: 45px;
    }

    .navbar .menu-list-li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menu-list-li .lang-container {
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list-li a {
        margin-left: 0;
    }
    .navbar.show .lang-container{
        margin-left: 0;

    }
    .dd-c {
        width: 32%;
        top: 1.8rem;
    }

    .dd-a span, .login {
        font-size: 23px;
    }

    .login-icon {
        margin-right: 1.3rem;
    }


    .main-text {
        font-size: 2.5rem;
    }

    .payment-methods {
        grid-template-columns: repeat(2, 1fr);
    }

    .counter-big-counter {
        align-items: center;
    }

    .counter-container {
        margin-bottom: 4rem;
    }

    .counter-values {
        align-items: flex-start;
        flex-direction: column;
    }

    .counter-value {
        font-size: 5rem;
    }

    .experience, .users, .districts {
        font-size: 1.7rem;
    }

    .user, .years, .regions {
        font-size: 3rem;
    }

    .years {
        left: 26%;
    }

    .user {
        right: 30%;
    }

    .regions {
        left: 32%;
    }

    .service-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-card-name {
        font-size: 1.5rem;
    }

    #contact-section .contact-form {
        display: block;
        width: 100%;
        text-align: center;
    }

    .contact-info {
        max-width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-info div {
        display: flex;
        width: 100%;
        align-items: center;
    }

    #contact-section .submit {
        width: 60%;
    }

    #contact-section .contact-container p {
        font-size: 1.4rem;
    }

}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }

    .showcase-text {
        width: 60%;
    }

    .main-text {
        font-size: 2rem;
    }

    .small-text {
        font-size: 0.9rem;
    }
}


@media screen and (min-width: 600px) {
    .footer-right > * {
        flex: 1;
    }

    .footer-left {
        flex: 1 0;
    }

    .footer-right {
        flex: 2 0;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 15px;
    }

    .contact-info {
        max-width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .fixed-container {
        width: 100%;
    }

    .heading-services {
        padding: 20px;
        font-size: 20px;
    }

    .card {
        width: 80%;
    }

    .payment-methods {
        grid-template-columns: repeat(1, 1fr);
    }

    .payment {
        height: 124px;
    }

    .read-more {
        position: static;
        padding: 1.6rem 5rem;
    }

    .payment-read-more-link {
        display: flex;
        justify-content: center;
        margin-top: 3.2rem;
        text-decoration: none;
    }

    .counter-heading {
        font-size: 3.3rem;
    }

    .counter-value {
        font-size: 4rem;
    }

    .experience, .users, .districts {
        font-size: 1.4rem;
    }

    .user, .years, .regions {
        font-size: 2.2rem;
    }

    .user {
        right: 38%;
    }

    .regions {
        left: 25%;
    }

    .years {
        left: 20%;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .how-to {
        padding: 0 0 40px;
    }

    .how-to .inner {
        padding: 30px;
    }

    .how-to h3 {
        padding: 0 0 24px;
        font-size: 24px;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    .how-to {
        padding: 0 0 30px;
    }

    .how-to > div {
        display: block;
    }

    .how-to .image {
        width: 100%;
    }

    .how-to .image img {
        border-radius: 4px 4px 0 0;
    }

    .how-to .inner {
        width: 100%;
        padding: 20px 0px 25px 0px;
        margin: 0;
        border-radius: 0 0 4px 4px;
    }

    .how-to h3 {
        padding: 0 20px 20px;
        font-size: 27px;
    }

    .how-to p {
        padding: 0 20px 20px;
        font-size: 16px;
    }


}

@media (min-width: 240px) and (max-width: 479px) {
    .how-to {
        padding: 0 0 30px;
    }

    .how-to > div {
        display: block;
    }

    .how-to .image {
        width: 100%;
    }

    .how-to .image img {
        border-radius: 4px 4px 0 0;
    }

    .how-to .inner {
        width: 100%;
        padding: 20px 0px 25px 0px;
        margin: 0;
        border-radius: 0 0 4px 4px;
    }

    .how-to h3 {
        padding: 0 20px 10px;
        font-size: 21px;
    }

    .how-to p {
        padding: 0 20px 20px;
        font-size: 14px;
    }


}

