@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --yellow: #FCA137;
    --blue: #2b5f8e;
    --light-gray: #5F6773;
    --border-color-gray: #D5DDE4;
    --violet: #F6F8FE;
    --footer-gray: #1f1f1f;
    --footer-color: rgb(2, 16, 41);
    --footer-light-gray: #3a3737;
    --dark-white: #bbb;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header starts */
.fixed-container {
    max-width: 82.142rem;
    margin: 0 auto;
}

.content {
    max-width: 82.142rem;
    margin: auto;
    padding: 0 2.142rem;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/selnet-4.png') no-repeat fixed center;
    background-size: cover;
    padding: 0 0 54rem 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.714rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--footer-color);
}

::selection {
    background: rgba(0, 123, 255, 0.3);
}

.selnet-logo {
    max-width: 14.214rem;
}

.navbar .logo a {
    color: #fff;
    font-size: 2.142rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 1.785rem 0;
    transition: all 0.3s ease;
}

.navbar .menu-list {
    display: inline-flex;
}

.navbar.sticky {
    background: var(--footer-color);
    padding: 0.714rem 0;
    box-shadow: 0 0.214rem 0.357rem 0 rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list li {
    list-style: none;
}

.list-item-link {
    color: #fff;
    font-size: 1.285rem;
    font-weight: 500;
    margin-left: 1.785rem;
    text-decoration: none;
    transition: all 0.4s ease;
}

.list-item-link:hover {
    color: var(--yellow);
}

.icon {
    color: #fff;
    font-size: 1.428rem;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 2.142rem;
    top: 1.428rem;
}

.lang-container {
    height: 100%;
    max-width: 100%;
}

.dropdown {
    z-index: 1;
    position: relative;
}

.caret {
    color: white;
    margin-left: 0.571rem;
}

.dd-a {
    position: relative;
    padding-left: 1.714rem;
    font-size: 1.285rem;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.dropdown input:after {
    content: "";
    width: 100%;
    height: 0.142rem;
    position: absolute;
    background: var(--yellow);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition-duration: 0.3s;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: bottom left;
    -webkit-transition-duration: 0.3s;
}

.dropdown input {
    top: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.dropdown input:hover {
    cursor: pointer;
}

.dropdown input:checked:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.dropdown input:checked ~ .dd-c {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

.dd-a span {
    color: white;
}

.dd-c {
    position: absolute;
    background: white;
    top: 2.142rem;
    height: auto;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top left;
    -webkit-transition-duration: 0.2s;
}

.dd-link {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0.357rem;
    background: white;
    color: black;
}

.dd-link:before {
    z-index: 0;
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    background: var(--yellow);
    top: 0;
    left: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
}

.lang {
    font-size: 1.2rem;
}

.dd-link span {
    position: relative;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.dd-link span {
    display: flex;
    align-items: center;
}

.dd-link:hover:before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.dd-link:hover span {
    color: white;
}

.flag-img {
    width: 1.828rem;
    height: 1.828rem;
    margin-left: 1rem;
}


.login-cont {
    margin-left: 1.071rem;
}

.login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login-icon {
    color: white;
    margin-right: 0.714rem;
}

.login {
    font-size: 1.428rem;
    color: white;
}

.showcase-text {
    font-weight: 400;
    line-height: 1.4;
    color: white;
    width: 37%;
    position: absolute;
    top: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yellow {
    color: var(--yellow);
    font-size: 1.45rem;
}

.main-text {
    font-size: 3rem;
}

.small-text {
    font-weight: 500;
    line-height: 1.5;
}

/* header ends */
/**/
/**/
/* our services section starts */
.heading-services {
    color: var(--blue);
    font-weight: bold;
    font-size: 2.6rem;
    padding: 2.857rem 0;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 22.5%;
    background: #fff;
    margin-bottom: 3.571rem;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.071rem solid #62AAEB;
    border-radius: 1.071rem;
}

.card-header {
    text-align: center;
    padding: 2.857rem 0.714rem;
    color: var(--blue);
    font-size: 1.785rem;
    font-weight: 600;
}

.card-body {
    padding: 1.428rem 1.428rem;
    text-align: center;
    font-size: 1.62rem;
}

.card-icon {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 2.142rem;
    text-decoration: none;
    padding: 0.714rem 0.357rem;
}

.tv {
    margin-top: 4.285rem;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2.857rem -0.714rem rgba(0, 0, 0, 0.25);
}

.card-icon {
    color: var(--yellow);
    font-size: 4.5rem;
}

.card:hover .card-icon {
    color: var(--blue);
}

/* our services section ends */
/**/
/**/
/* Our clients section starts */

.slider button {
    display: none;
}

.slider-2 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.our-clients-heading {
    color: var(--blue);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 3.214rem 0;
    margin-bottom: 2rem;
}


.client-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    margin-right: 0.4rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

.card-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* our clients ends here */
/**/
/**/
/* online-payments starts */

.payments-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/nasa-bg.jpg') no-repeat fixed center;
    background-size: cover;
    position: relative;
}

.payment-heading {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

.payment-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1.785rem;
    padding-bottom: 3rem;
}

.payment {
    width: 80%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.emanat {
    background-color: #ebebeb;
}

.hesab {
    background-color: #00a9e4;
}

.million {
    background-color: #d1010f;
}

.IBA {
    background-color: #4b99de;
    padding: 1.7rem;
}

.birbank {
    padding: 1.5rem;
    background-color: #b30838;
}


.payment-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.payment:hover {
    transform: translate(0, -0.9rem);
}
.payment-read-more-link{
    padding-bottom: 2rem;
}
.read-more {
    position: absolute;
    color: white;
    top: 76%;
    right: 5%;
    font-size: 1.285rem;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.428rem 4.285rem;
    text-transform: uppercase;
    letter-spacing: 0.071rem;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    border-radius: 3.571rem;
    border: 0.071rem solid #fff;
    overflow: hidden;
}

.read-more {
    transition: all 0.4s;
}

.read-more:hover {
    background-color: var(--yellow);
}

.icon-arrow-right {
    margin-left: 1.071rem;
}

/* online payments ends here */
/**/
/**/
/* Footer starts */

footer {
    color: #fff;
    background-color: var(--footer-color);
    font-size: 1.142rem;
    padding: 3.571rem 0;

}

.footer-container {
    max-width: 82.142rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;

}

.footer-container > * {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25rem;
    margin-bottom: 2rem;
}

.footer-left img {
    max-width: 14.214rem;
}

h2 {
    font-weight: 600;
    font-size: 1.428rem;

}

.footer-links li a:hover {
    color: var(--yellow);
    transition: all 0.4s ease;
}

.contact-footer li a:hover {
    color: white;
    transition: all 0.4s ease;

}

.footer-container ul {
    list-style: none;
    padding-left: 0;
}

.footer-container li {
    line-height: 2rem;
}

.footer-container a {
    text-decoration: none;
}

.footer-right {
    display: flex;
    flex-flow: row wrap;
}

.footer-right > * {
    flex: 1 50%;
    margin-right: 1.25rem;
}

.box a {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 3.571rem;
}

.footer-left p {
    padding-right: 20%;
    color: #999;
    letter-spacing: 0.071rem;
    line-height: 1.2;
}

/* footer ends here */
/**/

/* ________________________________________________________________________________________________________________________ */
/* ----------------payment page-----------------------------  */
.payment-header {
    background: url('../img/nasa-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) no-repeat fixed center;
    background-size: cover;
    padding: 0 0 10rem 0;

}

.text-below {
    padding-top: 12rem;
}

.below-payments {
    padding-top: 4.285rem;
}

.how-to {
    padding: 0 0 60px;
    position: relative;
}

.how-to::before {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.how-to > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.image {
    width: 50%;
    position: relative;
}

.image img {
    display: block;
    width: 100%;
    border-radius: 4px;
}

.inner {
    width: 44%;
    margin: 0 0 0 -15%;
    padding: 33px 45px;
    color: #fff;
    background: #04287d;
    position: relative;
}

.inner h3 {
    padding: 0 0 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 0.01rem;
    color: #fff;
}

.inner p {
    font-size: 20px;
    line-height: 1.56;
    color: #fff;
}


/*  payment page ends here*/
/* _____________________________________________________________________________________________ */
/*  */
/*  */
/* About us page starts here */
#counter {
    height: auto;
}

.counter-heading {
    color: var(--blue);
    font-size: 3.9rem;
    font-weight: 600;
    margin-top: 2.571rem;
}

.counter-big-counter {
    display: flex;
    flex-direction: column;
}

.counter-values {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-top: 3.214rem;
    margin-bottom: 2.5rem;
}

.counter-value {
    color: var(--yellow);
    font-size: 3.43rem;
    font-weight: 600;
    margin-right: 16rem;
}

.regions {
    position: absolute;
    color: var(--yellow);
    font-size: 2.285rem;
    font-weight: 600;
    left: 23%;
    top: 15.5%;
}

.years {
    position: absolute;
    color: var(--yellow);
    font-size: 2.285rem;
    font-weight: 600;
    left: 16%;
    top: 15.5%;
}

.user {
    position: absolute;
    color: var(--yellow);
    font-size: 2.285rem;
    font-weight: 600;
    right: 38%;
    top: 15.5%;
}

.container-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.experience,
.districts,
.users {
    font-size: 1.142rem;
    font-weight: 600;
    word-spacing: 0.142rem;
    color: var(--footer-gray);
    margin-top: 0.714rem;
}

.districts {
    margin-right: 1.928rem;
}

.users {
    margin-right: 4.071rem;
}

.about-header {
    background: url('../img/nasa-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) no-repeat fixed center;
    background-size: cover;
    padding: 10rem 0 10rem 0;
}

.about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.About-heading,
.our-mission-heading,
.services-heading {
    color: #2E4D7D;
    font-weight: 700;
    font-size: 2.428rem;
    margin-top: 2.142rem;
}

.about-us,
.our-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-mission {
    margin-bottom: 1.428rem;
}

.aboutus,
.ourmission {
    margin-top: 1.428rem;
    color: var(--footer-color);
    text-align: center;
    font-size: 1.571rem;
    font-weight: 500;
    line-height: 1.7;
}

.services-heading {
    color: var(--blue);
    padding-top: 3.571rem;
    margin-bottom: 2.857rem;
    font-size: 2.6rem;
}

.company-services-container {
    background-color: var(--violet);
    padding-bottom: 3rem;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2.2rem;
    grid-column-gap: 4rem;
}

.service-card {
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.5rem;
    color: var(--blue);
    font-size: 3.3rem;
    transition: transform 0.4s ease-in-out;
}

.service-card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: white;
    color: var(--yellow);
}

.services-card-name {
    font-weight: 700;
    color: #2C2C2C;
    font-size: 1.64rem;
    margin-top: 2.5rem;
}

/* About us page ends here */
/* --------------------------------------------------------------------------------- */
/* FEES page starts */
.page-header {
    background: url('../img/nasa-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) no-repeat fixed center;
    background-size: cover;
    padding: 0 0 63rem 0;
    position: relative;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.fiber-icon,
.phone-icon,
.tv-icon {
    color: white;
    font-size: 2rem;
}

.icon-download {
    color: white;
    font-size: 1.142rem;
    margin-right: 0.571rem;
}

.download:hover .icon-download {
    color: var(--yellow);
    transition: all 0.3s;
}

.download:hover {
    color: var(--yellow);
    transition: all 0.3s;
}

.fee-icons {
    margin-right: 1.071rem;

}

.icon {
    margin-right: 1.071rem;
}

.tab_div {
    position: absolute;
    left: 0;
    top: 18%;
    width: 100%;
    transform: translateZ(0);
}

.tabs_menu {
    width: 18%;
    position: absolute;
    left: 0;
}

ul.tabs {
    padding: 0;
}

#tab1,
#tab2,
#tab3 {
    padding: 10% 1% 10% 5%;
    width: 100%;
}

ul.tabs li {
    list-style-type: none;
    border-right: 0.142rem solid var(--yellow);
    font-size: 1.35rem;
    color: white;
}

#tab1_content,
#tab2_content,
#tab3_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 2.142rem;
    margin: 0 auto;
    height: auto;
    background-color: rgba(16, 56, 92, 0.7);
}

.title {
    font-size: 2.6rem;
    margin-bottom: 1.428rem;
}

.tab-details {
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    line-height: 1.45;
}

.tab-ul {
    list-style: disc;
}

.title,
.tab-details {
    color: rgb(227, 229, 233);
}

ul.tabs li {
    display: inline-block;
    position: relative;
    padding: 1em;
    cursor: pointer;
    background: #17171e;
    color: white;
    z-index: 0;
}

ul.tabs li:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--yellow);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .5s ease-out;
}

ul.tabs li:hover:before {
    transform: scaleX(1);
}

table {
    width: 100%;
    margin-top: 3.571rem;
}

table,
th,
td {
    border: 0.071rem solid white;
    border-collapse: collapse;
    color: rgb(227, 229, 233);
}

th {
    font-weight: 600;
    color: var(--yellow);
    font-size: 1.3rem;
}

th,
td {
    padding: 0.357rem;
    text-align: left;
}

/* fees section ends here */
/**/
/**/
/* contact section starts here */
.contact-page {
    background: url('../img/nasa-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) no-repeat fixed center;
    background-size: cover;
    padding: 10rem 0 25rem 0;
    position: relative;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

#contact-section {
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

#contact-section .contact-container h2 {
    font-size: 3.1rem;
    color: rgb(238, 235, 235);
    letter-spacing: 0.142rem;
    padding-bottom: 2%;
}

#contact-section .contact-container p {
    width: 70%;
    padding-bottom: 4%;
    font-size: 1.9rem;
    color: #fff;
    letter-spacing: 0.214rem;
}

.contact-info div {
    padding-bottom: 2rem;
}
.phone-numbers span:nth-child(2){
    margin-left: 15px;
}
.contact-form i.fa {
    font-size: 1.571rem;
    padding: 3%;
    background: none;
    margin: 2%;
    cursor: pointer;
    border-radius: 80%;
    border: 0.142rem solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.contact-form i.fa:hover {
    cursor: pointer;
    border: 0.142rem solid #fff;
    color: #fff;
}

.contact-form {
    display: grid;
    grid-template-columns: auto auto;

}

.form-info {
    font-size: 1.4rem;
    font-style: italic;
    color: #fff;
    letter-spacing: 0.142rem;
}

input, textarea {
    padding: 0.714rem;
    margin: 0.714rem;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: white;
}

.submit {
    width: 40%;
    background: none;
    padding: 0.284rem;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.142rem;
    height: 2.857rem;
    text-align: center;
    cursor: pointer;
    margin-left: 3%;
    margin-top: 2%;
    border: 0.142rem solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.submit:hover {
    border: 0.071rem solid #fff;
    color: #fff;
    cursor: pointer;
}

#map {
    height: 28.57rem;
    width: 100%;
}

.map {
    margin-top: 3.571rem;
}


/* contact section ends here */
/*  */
