@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --yellow: #FCA137;
    --blue: #2b5f8e;
    --light-gray: #5F6773;
    --border-color-gray: #D5DDE4;
    --violet: #F6F8FE;
    --footer-gray: #1f1f1f;
    --footer-color: rgb(2, 16, 41);
    --footer-light-gray: #3a3737;
    --dark-white: #bbb;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header starts */
.fixed-container {
    max-width: 82.142rem;
    margin: 0 auto;
}

.content {
    max-width: 82.142rem;
    margin: auto;
    padding: 0 2.142rem;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/selnet-4.png') no-repeat fixed center;
    background-size: cover;
    padding: 0 0 54rem 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.714rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--footer-color);
}

::selection {
    background: rgba(0, 123, 255, 0.3);
}

.selnet-logo {
    max-width: 14.214rem;
}

.navbar .logo a {
    color: #fff;
    font-size: 2.142rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 1.785rem 0;
    transition: all 0.3s ease;
}

.navbar .menu-list {
    display: inline-flex;
}

.navbar.sticky {
    background: var(--footer-color);
    padding: 0.714rem 0;
    box-shadow: 0 0.214rem 0.357rem 0 rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list li {
    list-style: none;
}

.list-item-link {
    color: #fff;
    font-size: 1.285rem;
    font-weight: 500;
    margin-left: 1.785rem;
    text-decoration: none;
    transition: all 0.4s ease;
}

.list-item-link:hover {
    color: var(--yellow);
}

.icon {
    color: #fff;
    font-size: 1.428rem;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 2.142rem;
    top: 1.428rem;
}

.lang-container {
    height: 100%;
    max-width: 100%;
}

.dropdown {
    z-index: 1;
    position: relative;
}

.caret {
    color: white;
    margin-left: 0.571rem;
}

.dd-a {
    position: relative;
    padding-left: 1.714rem;
    font-size: 1.285rem;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.dropdown input:after {
    content: "";
    width: 100%;
    height: 0.142rem;
    position: absolute;
    background: var(--yellow);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition-duration: 0.3s;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: bottom left;
    -webkit-transition-duration: 0.3s;
}

.dropdown input {
    top: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.dropdown input:hover {
    cursor: pointer;
}

.dropdown input:checked:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.dropdown input:checked ~ .dd-c {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

.dd-a span {
    color: white;
}

.dd-c {
    position: absolute;
    background: white;
    top: 2.142rem;
    height: auto;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top left;
    -webkit-transition-duration: 0.2s;
}

.dd-link {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0.357rem;
    background: white;
    color: black;
}

.dd-link:before {
    z-index: 0;
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    background: var(--yellow);
    top: 0;
    left: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
}

.lang {
    font-size: 1.2rem;
}

.dd-link span {
    position: relative;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.dd-link span {
    display: flex;
    align-items: center;
}

.dd-link:hover:before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.dd-link:hover span {
    color: white;
}

.flag-img {
    width: 1.828rem;
    height: 1.828rem;
    margin-left: 1rem;
}


.login-cont {
    margin-left: 1.071rem;
}

.login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.login-icon {
    color: white;
    margin-right: 0.714rem;
}

.login {
    font-size: 1.428rem;
    color: white;
}

.showcase-text {
    font-weight: 400;
    line-height: 1.4;
    color: white;
    width: 37%;
    position: absolute;
    top: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yellow {
    color: var(--yellow);
    font-size: 1.45rem;
}

.main-text {
    font-size: 3rem;
    animation: fadeInBottom 1.5s ease-in-out;
}

.small-text {
    font-weight: 500;
    animation: fadeInBottom2 1.6s ease-in-out;
    line-height: 1.5;
}

/* header ends */
/**/
/**/
/* our services section starts */
.heading-services {
    color: var(--blue);
    font-weight: bold;
    font-size: 2.6rem;
    padding: 2.857rem 0;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    margin-bottom: 3.571rem;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.071rem solid #62AAEB;
    border-radius: 1.071rem;
}

.card-header {
    text-align: center;
    padding: 2.857rem 0.714rem;
    color: var(--blue);
    font-size: 1.785rem;
    font-weight: 600;
}

.card-body {
    padding: 1.428rem 1.428rem;
    text-align: center;
    font-size: 1.62rem;
}

.card-icon {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 2.142rem;
    text-decoration: none;
    padding: 0.714rem 0.357rem;
}

.tv {
    margin-top: 4.285rem;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2.857rem -0.714rem rgba(0, 0, 0, 0.25);
}

.card-icon {
    color: var(--yellow);
    font-size: 4.5rem;
}

.card:hover .card-icon {
    color: var(--blue);
}

/* our services section ends */
/**/
/**/
/* Our clients section starts */

.our-clients {
    background-color: var(--violet);
}

.our-clients-heading {
    color: var(--blue);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 3.214rem 0;
}

.clients-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.clients {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 9vw);
    grid-gap: 1.428rem;
}

.client-card {
    padding: 0.6rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    border: 0.071rem solid var(--border-color-gray);
}

.card-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.client-card img {
    transition: transform 0.8s ease
}

.client-card:hover .card-logo {
    -ms-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.load-btn {
    background-color: var(--yellow);
    color: white;
    margin-top: 3.571rem;
    margin-bottom: 3.571rem;
    font-size: 1.285rem;
    cursor: pointer;
    padding: 1.571rem 4.285rem;
    text-transform: uppercase;
    letter-spacing: 0.107rem;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 3.571rem;
    border: 0.214rem solid #fff;
    overflow: hidden;
}

.load-icon {
    color: white;
}

.load-btn:hover {
    background-color: var(--blue);
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}

/* our clients ends here */
/**/
/**/
/* online-payments starts */

.payments-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/nasa-bg.jpg') no-repeat fixed center;
    background-size: cover;
    padding: 6rem 10rem;
    position: relative;
}

.payment-heading {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.payment-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*try not to use vw and vh*/
    /*grid-template-rows: repeat(2, 8vw);*/
    /*this replaces mragin left of .payment*/
    grid-column-gap: 2.142rem;
    /*this margin top*/
    grid-row-gap: 1.785rem;
}

.payment {
    padding: 2.3rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*margin-left: 2.142rem;*/
    /*margin-top: 1.785rem;*/
    transition: 0.3s;
}

.emanat {
    background-color: #ebebeb;
    /*grid-column-start: 1;*/
    /*grid-column-end: 3;*/
}

.hesab {
    background-color: #00a9e4;
    /*grid-column-start: 3;*/
    /*grid-column-end: 5;*/
}

.million {
    background-color: #d1010f;
    /*grid-column-start: 5;*/
    /*grid-column-end: 7;*/
}

.IBA {
    background-color: #4b99de;
    /*grid-column-start: 3;*/
    /*grid-column-end: 5;*/
    padding: 1.7rem;
}

.birbank {
    padding: 1.5rem;
    background-color: #b30838;
    /*grid-column-start: 1;*/
    /*grid-column-end: 3;*/
}


.payment-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*.payment:first-child, .payment:nth-child(4) {*/
/*    margin-left: 0;*/
/*}*/

.payment:hover {
    transform: translate(0, -0.9rem);
}

.read-more {
    position: absolute;
    color: white;
    top: 76%;
    right: 5%;
    font-size: 1.285rem;
    background: none;
    cursor: pointer;
    padding: 1.428rem 4.285rem;
    text-transform: uppercase;
    letter-spacing: 0.071rem;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    border-radius: 3.571rem;
    border: 0.071rem solid #fff;
    overflow: hidden;
}

.read-more {
    transition: all 0.4s;
}

.read-more:hover {
    background-color: var(--yellow);
}

.icon-arrow-right {
    margin-left: 1.071rem;
}

/* online payments ends here */
/**/
/**/
/* Footer starts */

footer {
    color: #fff;
    background-color: var(--footer-color);
    font-size: 1.142rem;
    padding: 3.571rem 0;

}

.footer-container {
    max-width: 82.142rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;

}

.footer-container > * {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25rem;
    margin-bottom: 2rem;
}

.footer-left img {
    width: 50%;
}

h2 {
    font-weight: 600;
    font-size: 1.428rem;

}

.footer-links li a:hover {
    color: var(--yellow);
    transition: all 0.4s ease;
}

.contact-footer li a:hover {
    color: white;
    transition: all 0.4s ease;

}

.footer-container ul {
    list-style: none;
    padding-left: 0;
}

.footer-container li {
    line-height: 2rem;
}

.footer-container a {
    text-decoration: none;
}

.footer-right {
    display: flex;
    flex-flow: row wrap;
}

.footer-right > * {
    flex: 1 50%;
    margin-right: 1.25rem;
}

.box a {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 3.571rem;
}

.footer-left p {
    padding-right: 20%;
    color: #999;
    letter-spacing: 0.071rem;
    line-height: 1.2;
}

/* footer ends here */
/**/
/**/
/* Animations */
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(35%);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBottom2 {
    from {
        opacity: 0;
        transform: translateY(55%);
    }
    to {
        opacity: 1;
    }
}

/* ________________________________________________________________________________________________________________________ */
/* ----------------payment page-----------------------------  */
.payment-header {
    background: url('../img/nasa-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) no-repeat fixed center;
    background-size: cover;
    padding: 0 0 6rem 0;

}

.text-below {
    padding-top: 12rem;
}

.below-payments {
    padding-top: 4.285rem;
}

.payment-pic-container {
    margin-top: 2.857rem;
}

.how-to-pay {
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.085rem;
}

.payment-pic {
    width: 45%;
    padding: 2rem 2rem 19.5rem 2rem;
    background-image: url('../img/payment-methods/paymentmethods.jpg');
    border-radius: 0.571rem;
    position: relative;
}

.text-body {
    position: absolute;
    left: 42%;
    top: 42%;
    width: 40%;
    background-color: #0d3857;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-text {
    color: white;
    font-size: 1.65rem;
    width: 80%;
    line-height: 1.4;
}

/*  payment page ends here*/
/* _____________________________________________________________________________________________ */
/*  */
/*  */
/* About us page starts here */
#counter {
    height: auto;
}

.counter-heading {
    color: var(--blue);
    font-size: 3.9rem;
    font-weight: 600;
    margin-top: 2.571rem;
}

.counter-big-counter {
    display: flex;
    flex-direction: column;
}

.counter-values {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 3.214rem;
    margin-bottom: 2.5rem;
}

.counter-value {
    color: var(--yellow);
    font-size: 3.43rem;
    font-weight: 600;
    margin-right: 16rem;
}

.regions {
    position: absolute;
    color: var(--yellow);
    font-size: 2.285rem;
    font-weight: 600;
    left: 22%;
    top: 15.5%;
}

.years {
    position: absolute;
    color: var(--yellow);
    font-size: 2.285rem;
    font-weight: 600;
    left: 15%;
    top: 15.5%;
}

.user {
    position: absolute;
    color: var(--yellow);
    font-size: 2.285rem;
    font-weight: 600;
    right: 38%;
    top: 15.5%;
}

.container-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.experience,
.districts,
.users {
    font-size: 1.142rem;
    font-weight: 600;
    word-spacing: 0.142rem;
    color: var(--footer-gray);
    margin-top: 0.714rem;
}

.districts {
    margin-right: 1.928rem;
}

.users {
    margin-right: 4.071rem;
}

.about-header {
    background: url('../img/nasa-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) no-repeat fixed center;
    background-size: cover;
    padding: 0 0 11rem 0;
    position: relative;
}

.about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.About-heading,
.our-mission-heading,
.services-heading {
    color: #2E4D7D;
    font-weight: 700;
    font-size: 2.428rem;
    margin-top: 2.142rem;
}

.about-us,
.our-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-mission {
    margin-bottom: 1.428rem;
}

.aboutus,
.ourmission {
    margin-top: 1.428rem;
    color: var(--footer-color);
    text-align: center;
    font-size: 1.571rem;
    font-weight: 500;
    line-height: 1.7;
}

.services-heading {
    color: var(--blue);
    padding-top: 3.571rem;
    margin-bottom: 2.857rem;
    font-size: 2.6rem;
}

.company-services-container {
    background-color: var(--violet);
    padding-bottom: 3rem;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 11vw);
    grid-gap: 2.142rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.5rem;
    color: var(--blue);
    font-size: 3.3rem;
    transition: transform 0.4s ease-in-out;
}

.service-card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: white;
    color: var(--yellow);
}

.services-card-name {
    font-weight: 700;
    color: #2C2C2C;
    font-size: 1.64rem;
    margin-top: 2.5rem;
}

/* About us page ends here */
/* --------------------------------------------------------------------------------- */
/* FEES page starts */
.page-header {
    background: url('../img/nasa-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) no-repeat fixed center;
    background-size: cover;
    padding: 0 0 62rem 0;
    position: relative;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.fiber-icon,
.phone-icon,
.tv-icon {
    color: white;
    font-size: 2rem;
}

.icon-download {
    color: white;
    font-size: 1.142rem;
    margin-right: 0.571rem;
}

.download:hover .icon-download {
    color: var(--yellow);
    transition: all 0.3s;
}

.download:hover {
    color: var(--yellow);
    transition: all 0.3s;
}


.icon {
    margin-right: 1.071rem;
}

.tab_div {
    position: absolute;
    left: 0;
    top: 18%;
    width: 100%;
    transform: translateZ(0);
}

.tabs_menu {
    width: 17%;
    position: absolute;
    left: 0;
}

ul.tabs {
    padding: 0;
}

#tab1,
#tab2,
#tab3 {
    padding: 10% 1% 10% 5%;
    width: 100%;
}

ul.tabs li {
    list-style-type: none;
    border-right: 0.142rem solid var(--yellow);
    font-size: 1.5rem;
    color: white;
}

#tab1_content,
#tab2_content,
#tab3_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 2.142rem;
    margin: 0 auto;
    height: auto;
    background-color: rgba(16, 56, 92, 0.7);
}

.title {
    font-size: 2.6rem;
    margin-bottom: 1.428rem;
}

.tab-details {
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    line-height: 1.45;
}

.tab-ul {
    list-style: disc;
}

.title,
.tab-details {
    color: rgb(227, 229, 233);
}

ul.tabs li {
    display: inline-block;
    position: relative;
    padding: 1em;
    cursor: pointer;
    background: #17171e;
    color: white;
    z-index: 0;
}

ul.tabs li:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--yellow);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .5s ease-out;
}

ul.tabs li:hover:before {
    transform: scaleX(1);
}

table {
    width: 100%;
    margin-top: 3.571rem;
}

table,
th,
td {
    border: 0.071rem solid white;
    border-collapse: collapse;
    color: rgb(227, 229, 233);
}

th {
    font-weight: 600;
    color: var(--yellow);
    font-size: 1.3rem;
}

th,
td {
    padding: 0.357rem;
    text-align: left;
}

/* fees section ends here */
/**/
/**/
/* contact section starts here */
.fees-page,
.fees-opacity {
    padding: 0 0 25rem 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-with-us {
    margin-top: 11.571rem;
    color: white;
    font-size: 2.857rem;
    margin-bottom: 1.785rem;
}

.contact-subtext {
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.092rem;
    margin-bottom: 2.857rem;
}

#map {
    height: 28.57rem;
    width: 100%;
}

.map {
    margin-top: 3.571rem;
}

.form-container {
    border-radius: 0.5rem;
    background-color: rgb(236, 232, 232);
    border: none;
    padding: 1.785rem;
    width: 30.714rem;
    height: 39.285rem;
    margin-right: 12.142rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.27rem;
}

label {
    color: var(--footer-gray);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    letter-spacing: 0.107rem;
    word-spacing: 0.1rem;
    font-size: 1.42rem;
    margin-left: 0.714rem;
}

.email-phone {
    display: flex;
    justify-content: space-between;
}

.email-cont {
    display: flex;
    flex-direction: column;
    width: 14.28rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.857rem;
    background: none;
    box-sizing: border-box;
    margin-top: 0.428rem;
    margin-bottom: 1.428rem;
    resize: vertical;
    border-width: 0 0 0.071rem 0;
    border-color: lightgray;
}

input,
select,
textarea:focus {
    outline: none;
}

.submit-btn {
    font-size: 1.5rem;
}

input[type=submit] {
    background-color: #105688;
    color: white;
    padding: 0.857rem 1.428rem;
    border: none;
    border-radius: 0.285rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0d3857;
}

.contact-card {
    display: flex;
    align-items: center;
    margin-top: 1.785rem;
}

.contact-nums {
    display: flex;
    flex-direction: column;
}

.contact-email,
.contact-address-text,
.contact-num1,
.contact-num2 {
    font-size: 1.571rem;
    color: #bbb;
    word-spacing: 0.142rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
}

.contact-num2:hover {
    color: #fff;
}

.contact-num1:hover {
    color: #fff;
}

.contact-email:hover {
    color: #fff;
}

.contact-address-text:hover {
    color: #fff;
}

.contact-icon {
    color: #bbb;
    font-size: 3rem;
    margin-right: 3.928rem;
}

.contact-card:hover i {
    color: white;
}

.horizontal-line {
    width: 28.57rem;
    height: 0.142rem;
    background-color: #bbb;
    margin-top: 3.571rem;
}

/*  */
/*  */
/******************* RESPONSIVE DESIGN ************************/

@media (max-width: 1230px) {
    html {
        font-size: 12px;
    }

    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    html {
        font-size: 11px;
    }

    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 11px;
    }

    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    html {
        font-size: 10px;
    }

    .icon {
        display: block;
    }

    body.disabled {
        overflow: hidden;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: var(--footer-color);
    }

    .navbar.show .menu-list {
        left: 0;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0;
    }

    .main-text {
        font-size: 2.5rem;
    }

    .payment-methods {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }

    .showcase-text {
        width: 60%;
    }

    .main-text {
        font-size: 2rem;
    }

    .small-text {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .tab_div {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .footer-right > * {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 15px;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 11px;
    }

    .fixed-container {
        max-width: 92%;
    }

    .showcase-text {
        width: 55%;
    }

    .card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .fixed-container {
        width: 100%;
    }

    .heading-services {
        padding: 20px;
        font-size: 20px;
    }

    .card {
        width: 80%;
    }

    /*Media css should be a different file*/
    .payment-methods {
        grid-template-columns: repeat(1, 1fr);
    }

    .payment {
        /*I know thagt I have written it's better not to use height property, but this can be an exception, because you know that it will only have a single photo inside,*/
        /*which has object fit contain, full width and heighr, so you are sure that there won't be an overflow of content*/

        /*You can try to comment this proprty in order to see the difference*/
        height: 124px;
    }

    /* It's also better not to use complex selectros like .class .class , here I have written this to target read more inside of payment, because I don't know if you have other elements
     with class of .read-more, so if this is only place where  .read-more class is used, then erase .payment-bg and leave only .read-more */
    .payments-bg .read-more {
        position: static;
    }

    .payment-read-more-link {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
}

